.donation-card {
  height: 70px;
  width: 100%;
  border: 1px solid darkgreen;
  margin: 5px;
  background-color: lightgreen;
  box-shadow: 10px 10px 17px -5px rgba(0,0,0,0.75);
}

.donation-card p {
  font-size: 1em;
}
