.form {
  height: 150px;
  background-color: lightgreen;
}

h2 {
  color: darkgreen;
  font-style: italic;
}

.form p {
  font-size: 1em;
}

input {
  height: 40px;
  width: 250px;
  margin: 5px;
}

button {
  height: 46px;
  width: 250px;
  color: white;
  font-size: 1em;
  background-color: darkgreen;
  border-radius: 10px;

}
